* {
    font-family: "Poppins", sans-serif;
}

.fa-google {
    background: linear-gradient(to bottom left, transparent 49%, #fbbc05 50%) 0
            25%/48% 40%,
        linear-gradient(to top left, transparent 49%, #fbbc05 50%) 0 75%/48% 40%,
        linear-gradient(-40deg, transparent 53%, #ea4335 54%),
        linear-gradient(45deg, transparent 46%, #4285f4 48%), #34a853;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.bi-facebook {
    color: #3b5998;
    background-image: linear-gradient(
        to bottom,
        transparent 20%,
        white 20%,
        white 93%,
        transparent 93%
    );
    background-size: 55%;
    background-position: 70% 0;
    background-repeat: no-repeat;
}

.social {
    padding: 10px 0;
}

.social i {
    margin-right: 5px;
}

.input {
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid grey;
}

.input:focus {
    outline-color: rgba(35, 122, 87, 1);
    outline-offset: 2px;
}

.submit {
    border: none;
    width: 100%;
    padding: 8px;
}

